// swift-tools-version: 6.2
import PackageDescription

let package = Package(
  name: "CodexMCPNativeValidation",
  platforms: [.macOS(.v14)],
  dependencies: [
    .package(name: "swift-codex", path: "../sdk-source"),
    .package(name: "swift-sdk", path: "../swift-sdk"),
  ],
  targets: [
    .testTarget(
      name: "CodexMCPNativeTests",
      dependencies: [.product(name: "CodexMCP", package: "swift-codex")],
      path: "Tests")
  ])
